Repository ponylang/ponyc, pull requests merged in 2019-06, with the labels that each got.

#3167 Do not permit leading zeros in JSON numbers
  packages/json/_test.pony
  packages/json/json_doc.pony
Labels: changelog - changed, changelog - fixed

#3181 Fix lib/llvm to support MacOS
  lib/llvm/Makefile
  lib/llvm/llvm-base.rules
Labels: changelog - fixed

#3185 Simplify buffering in TCPConnection
  CHANGELOG.md
  packages/net/tcp_connection.pony
  packages/net/tcp_listener.pony
Labels: changelog - changed

#3196 Add DTrace/SystemTap probes for muted & unmuted events
  CHANGELOG.md
  src/common/dtrace_probes.d
  src/libponyrt/actor/actor.c
Labels: changelog - added
